	#content {
		
	}
	.content-r #main_content, .content-r2 #main_content{
		padding:0 30px 20px 0;
	}
	.content-l #main_content, .content-l2 #main_content{
		padding:0 0 20px 30px;
	}
	.content-lr #main_content{
		padding:0 30px 20px;
	}
	.content-n #main_content { 
		padding:0 0 20px;
	}
	#content .container {
	}
	body { 
		background:url(../images/top.png) left top repeat-x;
	}
	.no-slider { background-image:url(../images/no-slider.png); }
	#logo {
		float:left;
	}
	.menusearch {
		width:260px;
	}
	/*------------------------------ MENU ------------------------------*/
	#secondarymenu-container {
		height:168px;
		position:relative;
		z-index:11;
	}
	
	
	#secondarymenu {
		float:right;
	}
	#secondarymenu a {
		padding:74px 20px;
		font-size:15px;
		color:#fff;
		font-family:'gudeabold';
		text-transform:uppercase;
	}
	#secondarymenu li:hover a{
		background:#4d9926;
	}
	#header-block {
		position:relative;
	}
	
	#mainmenu-container {
		height:60px;
		z-index:18;
		background:url(../images/mainmenu-container.png) left top repeat-x;
	}
	#mainmenu { 
		float:left;
		width:auto;
		max-width:750px;
	}
	.menusearch {
		width:227px;
		margin-right:19px;
		margin-top:8px;
		float:right;
	}
	.menusearch .searchbtn { 
		background-image:url(../images/header-search.png);
		height:42px;
	}
	
	.menusearch .searchform { 
		height:42px;
		background:url(../images/header-searchform.png) left top repeat-x;
		border:none;
		box-shadow:0 -1px 1px #474747 inset;
	}
	.menusearch #s{ 
		height:42px;
		line-height:42px;
		color:#fff;
		width:175px;
	}
	#mainmenu li a {
		padding:21px 20px;
		font-size:14px;
		color:#ebebeb;
		font-family:'gudeabold';
		text-transform:uppercase;
		text-shadow:0 2px 2px #212121;
	}
	#mainmenu li {
		position:relative;
	}
	#mainmenu li:hover a{
		background:#434343
	}


	#header li ul {	top:170px; }
	#header #mainmenu li ul { top:61px; }
	
	#header li ul .transparent {	}
	#header li ul .inner { 	
		background:#555;
		padding:0;
	}
	#header #mainmenu li ul .transparent {	}
	#header #mainmenu li ul .inner {	
		padding:0;
		background:#555;
	}
	#header ul.children li, #header .sub-menu li { height:auto !Important;} 
	#header  ul.children li:last-child a, #header .sub-menu li:last-child a { background:none !Important; }
	#header ul.children li a, #header .sub-menu li a {
		color:#d8d8d8; 
		padding:5px 20px;
		height:auto !important;
		font-size:11px !important;
		font-family:'gudeabold' !important;
		text-transform:uppercase;
		background:url(../images/sub-li.png) left bottom repeat-x;
		text-shadow:0 2px 2px #414141;
		text-align:left;
	}
	#header ul.children li a:hover, #header .sub-menu li a:hover {
		color:#fff;
	}
	#header #mainmenu ul.children li, #header #mainmenu .sub-menu li { height:auto !Important;} 
	#header #mainmenu ul.children li:last-child a, #header #mainmenu .sub-menu li:last-child a { background:none !Important; }
	#header #mainmenu ul.children li a, #header #mainmenu .sub-menu li a {
		height:auto !important;
		padding:5px 20px;
		text-align:left;
		color:#d8d8d8;
		font-size:11px !important;
		font-family:'gudeabold' !important;
		text-transform:uppercase;
		background:url(../images/sub-li.png) left bottom repeat-x;
		text-shadow:0 2px 2px #414141;
	}
	#header #mainmenu ul.children li a:hover, #header #mainmenu .sub-menu li a:hover {		
		color:#fff;
	}
	
	/*------------------------------ SLIDER ------------------------------*/
	.slider-container {	
		width:980px;
		height:472px;
		margin:38px auto 0;
		position:relative;
		padding:10px;
		background:url(../images/slider-background.png) top no-repeat;
	}
	.slider {
	}
	.fp-next, .fp-prev {
		margin:170px -95px;
		width:38px;
		height:58px;
	}
	.more-container { 
		display:block;
		text-align:center;
		margin-top:30px;
	}
	a.fp-more{ 
		text-align:center;
		text-shadow:0 2px 2px #79B25E;
		color:#2b5516;
		font-size:12px;
		font-family:'gudeabold';
		text-transform:uppercase;
		background:url(../images/fp-more.png) right center no-repeat;
		padding:14px 60px 14px 31px;
		text-decoration:none !Important;
	}
	a.fp-more:hover { background-image:url(../images/fp-more-hover.png); color:#234512; text-shadow:0 2px 2px #6BA450; }
	.fp-title { 
		border-bottom:1px solid #434344;
		margin-bottom:18px;
		padding:5px 0 10px !important;
	}
	.fp-title a{
		font-size:40px;
		color:#fff;
		text-decoration:none !Important;
		font-family:'gudeabold';
	}
	.fp-content p {
		color:#f9f9f9;	
	}
	.fp-prev-next-wrap {
		margin:0 0px;
	}
	.slider-nothumb .fp-slides, .slider-nothumb .fp-thumbnail, .slider-nothumb .fp-slides-items {
		height:188px;
	}
	.fp-slides,.fp-thumbnail,.fp-slides-items  {
		height:439px;
		width:980px;
	}
	.fp-thumbnail img  { 
		border:1px solid #c7c7c7;
		border-bottom:1px solid #f2f2f2 !important;
		width:978px;
		height:437px;
	}
	.fp-content-fon {
		border:none;
		background:#363636;
		height:194px;
		width:359px;
		left:34px;
		bottom:97px;
		-moz-opacity: 0.7;
		opacity: 0.7;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
	}
	.fp-content { 
		left:34px;
		right:587px;
		height:214px;
		bottom:67px;
		text-align:left;
		font-size:13px;
	}
	.fp-nav {
		right:40px;
		bottom:26px;
		left:auto;
	}
	.slider-nothumb .fp-content-fon {
		background:#fff;
	}
	.slider-nothumb .fp-content a,.slider-nothumb .fp-content p{
		color:#000;
	}
	.fp-pager a { 
		width:21px;
		height:21px;
	}
	#footer .footer_txt .container {
		
	}